<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Password reset on Warna-Warni-Days</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <h1>Dear {{ username }}, your password has been reset on Warna-Warni-Days</h1>

    <p>You may now connect with the following credentials:</p>

    <p>
        <em>Username</em>: <strong>{{ username }}</strong><br />
        <em>New password</em>: <strong>{{ password }}</strong>
    </p>

    <p style="color:red">You are strongly advised to change your password one more time after logging in.</p>

    <p>If you did not ask to have your password reset, please log in and change your password immediately.</p>
</body>

</html>