@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  @apply bg-gradient-to-tr from-blue-200 to-orange-200 min-h-screen;
}

.main-title {
  @apply text-3xl text-center mb-12 pb-2 border-b border-gray-300 w-3/4 mx-auto;
}

.small-caps {
  font-variant: small-caps;
}

input {
  @apply border border-gray-500 p-2 w-3/4;
}

.input-label {
  @apply text-lg block text-center pt-4 pb-2 mt-6;
}

button.medium {
  @apply font-bold py-2 px-4 mt-6 mb-4;
}

button.big {
  @apply text-lg font-bold py-4 px-8 mt-6 mb-4;
}

input.bad-feeling {
  @apply border-red-600;
}

.bad-feeling {
  @apply text-red-600;
}

button.bad-feeling {
  @apply bg-red-600 border border-red-800 text-white;

  &:hover {
    @apply bg-red-400;
  }

  &:disabled {
    @apply cursor-not-allowed bg-red-300;
  }
}

.positive-feeling {
  @apply text-green-600;
}

.clickable.positive-feeling:hover {
  @apply text-green-500;
}

button.positive-feeling {
  @apply bg-green-600 border border-green-800 text-white;

  &:hover {
    @apply bg-green-500;
  }

  &:disabled {
    @apply cursor-not-allowed bg-green-400;
  }
}

.mixed-feeling {
  @apply text-orange-500;
}

.clickable.mixed-feeling:hover {
  @apply text-orange-700;
}

button.mixed-feeling {
  @apply bg-orange-500 border-orange-800 text-white;

  &:hover {
    @apply bg-orange-400;
  }

  &:disabled {
    @apply cursor-not-allowed bg-orange-300;
  }
}
